USE [QPRecordDB]
GO
/****** 对象:  StoredProcedure [dbo].[Web_GetGoldStatistical]    脚本日期: 11/12/2014 17:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
--统计平台每天财富增减值，监控平台
--@StrYear  年份
--@StrMonth 月份
*/
CREATE Proc [dbo].[Web_GetGoldStatistical]
(
   @StrYear nvarchar(20),
   @strMonth nvarchar(20)
)
as


--select * from GameTreasureDB0..RecordInsure order by CollectDate desc 

--select TradeType from GameTreasureDB0..RecordInsure  group by TradeType order by TradeType

select A.* into #web_GoldStatIstical from (
	select Tm, Score,InsureScore,ScoreSum,dianka, wangyin, yikatong, zaixian, isnull(qiandao,0) as qiandao, zhuanpan, jinduan, 
	isNull(tuiguang,0) as tuiguang, jifentojinbi, isnull(bisai,0) as bisai, zhuce,
	isnull(zengsong,0) as zengsong,isNull(xinshoulingqu,0) as xinshoulingqu,isNull(shoujilingqu,0) as shoujilingqu,isNull(ziliaolingqu,0) as ziliaolingqu,isNull(chongzhilingqu,0) as chongzhilingqu,ISNULL(renwulingqu,0) as renwulingqu,
	 jinbitojifen, (0-zhuanzhangshuishou) as zhuanzhangshuishou,(0-shuishou) as shuishou,xitong, ( 0-daoju) as daoju, (0-isNull(lipin,0)) as lipin, (0 -shangcheng) as shangcheng ,
	strDay =(dianka + wangyin + yikatong+ zaixian+ isnull(qiandao,0)+ zhuanpan+ jinduan+ isNull(tuiguang,0)+ jifentojinbi+ isnull(bisai,0)
	+ zhuce +  zengsong + xinshoulingqu + shoujilingqu + ziliaolingqu + chongzhilingqu + renwulingqu+ jinbitojifen+ (0-zhuanzhangshuishou) + 
	xitong + ( 0-isNull(daoju,0)) + (0-isNull(lipin,0)) + (0-isNull(shangcheng,0)))  
from web_GoldStatIstical ) A where Year(A.tm) = @StrYear and Month(A.Tm) = @strMonth order by A.tm asc
--select * from #web_GoldStatIstical order by tm asc


select Tm, Score,InsureScore,ScoreSum,dianka, wangyin, yikatong, zaixian, qiandao, zhuanpan, jinduan, tuiguang, jifentojinbi, bisai, zhuce
,zengsong,xinshoulingqu,shoujilingqu,ziliaolingqu,chongzhilingqu,renwulingqu,
jinbitojifen,zhuanzhangshuishou, shuishou, floor(xitong) as xitong, daoju, lipin, shangcheng,strDay from #web_GoldStatIstical
union all
select null, null,null,null,sum(dianka), sum(wangyin), sum(yikatong), sum(zaixian), sum(isnull(qiandao,0)), sum(zhuanpan), sum(jinduan), sum(isNull(tuiguang,0)), sum(jifentojinbi), sum(isnull(bisai,0)), sum(zhuce)
,sum(zengsong),sum(xinshoulingqu),sum(shoujilingqu),sum(ziliaolingqu),sum(chongzhilingqu),sum(renwulingqu),
 sum(jinbitojifen),sum(zhuanzhangshuishou), sum((shuishou)) as shuishou, floor(sum(xitong)), sum(( 0-daoju)) as daoju, sum(0-isNull(lipin,0)) as lipin, sum(shangcheng),sum(strDay) from #web_GoldStatIstical

drop table #web_GoldStatIstical 




--Tm, Score, InsureScore, ScoreSum, dianka, wangyin, yikatong, zaixian, qiandao, zhuanpan, jinduan, tuiguang,
-- jifentojinbi, bisai, zhuce, zengsong, xinshoulingqu, shoujilingqu, ziliaolingqu, chongzhilingqu, 
--renwulingqu, jinbitojifen, shuishou, xitong, daoju, lipin, shangcheng 





