<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 应用程序前缀，为Session键值等提供唯一性保证 -->
    <add key="AppPrefix" value="FLA" />
    <add key="IPDbFilePath" value="/ipconfig/ipdata.config" />
    <!---->
    <add key="DBGameWeb" value="Data Source=.; Initial Catalog=QPGameWeb; User ID=sa; Password=!@Sx123456#$; Pooling=true" />
    <add key="DBPlatform" value="Data Source=.; Initial Catalog=QPPlatformDB; User ID=sa; Password=!@Sx123456#$; Pooling=true" />
    <add key="DBAccounts" value="Data Source=.; Initial Catalog=QPAccountsDB; User ID=sa; Password=!@Sx123456#$; Pooling=true" />
    <add key="DBTreasure" value="Data Source=.; Initial Catalog=QPTreasureDB; User ID=sa; Password=!@Sx123456#$; Pooling=true" />
    <add key="DBRecord" value="Data Source=.; Initial Catalog=QPRecordDB; User ID=sa; Password=!@Sx123456#$; Pooling=true" />
    <add key="DBAgency" value="Data Source=.; Initial Catalog=QPAgencyDB; User ID=sa; Password=!@Sx123456#$; Pooling=true" />
    <add key="DBOtherWeb" value="Data Source=.; Initial Catalog=QPOtherWebDB; User ID=sa; Password=!@Sx123456#$; Pooling=true" />
    <add key="DBGameMatch" value="Data Source=.;Initial Catalog=QPGameMatchDB; User ID=sa; Password=!@Sx123456#$; Pooling=true" />
    <!-- Chart控件使用 -->
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/TempImages/;" />
    <add key="CookiesName" value="" />
    <add key="CookiesExpireMinutes" value="" />
    <add key="CookiesPath" value="" />
    <add key="CookiesDomain" value="" />
    <add key="FileNameSequenceIDFilePath" value="/Config/FileSequenceID.INI" />
    <add key="BindIP" value="" />
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <!--  <httpRuntime requestValidationMode="2.0"/>
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <customErrors mode="Off" />
    <httpRuntime />
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="auto" uiCulture="auto" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="gsp" namespace="Wuqi.Webdiyer" assembly="AspNetPager, Version=7.2.0.0, Culture=neutral, PublicKeyToken=fb0a0fe055d40fd4" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpModules>
      <!--<add name="UCHttpModule" type="Game.Facade.UCHttpModule,Game.Facade"/>-->
    </httpModules>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
<!--ProjectGuid: E19B3274-8C7F-4516-87D7-D7FE04394723-->