USE [QPAccountsDB]
GO
/****** Object:  Table [dbo].[SystemStreamInfo]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemStreamInfo](
	[DateID] [int] NOT NULL,
	[WebLogonSuccess] [int] NOT NULL,
	[WebRegisterSuccess] [int] NOT NULL,
	[GameLogonSuccess] [int] NOT NULL,
	[GameRegisterSuccess] [int] NOT NULL,
	[CollectDate] [datetime] NOT NULL,
 CONSTRAINT [PK_SystemStreamInfo] PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日期标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemStreamInfo', @level2type=N'COLUMN',@level2name=N'DateID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录成功' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemStreamInfo', @level2type=N'COLUMN',@level2name=N'WebLogonSuccess'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册成功' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemStreamInfo', @level2type=N'COLUMN',@level2name=N'WebRegisterSuccess'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录成功' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemStreamInfo', @level2type=N'COLUMN',@level2name=N'GameLogonSuccess'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册成功' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemStreamInfo', @level2type=N'COLUMN',@level2name=N'GameRegisterSuccess'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'录入时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemStreamInfo', @level2type=N'COLUMN',@level2name=N'CollectDate'
GO
/****** Object:  Table [dbo].[SystemStatusInfo]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemStatusInfo](
	[StatusName] [nvarchar](32) NOT NULL,
	[StatusValue] [int] NOT NULL,
	[StatusString] [nvarchar](512) NOT NULL,
	[StatusTip] [nvarchar](50) NOT NULL,
	[StatusDescription] [nvarchar](100) NOT NULL,
	[SortID] [int] NOT NULL,
 CONSTRAINT [PK_SystemStatusInfo] PRIMARY KEY CLUSTERED 
(
	[StatusName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态名字' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemStatusInfo', @level2type=N'COLUMN',@level2name=N'StatusName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态数值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemStatusInfo', @level2type=N'COLUMN',@level2name=N'StatusValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态字符' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemStatusInfo', @level2type=N'COLUMN',@level2name=N'StatusString'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态显示名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemStatusInfo', @level2type=N'COLUMN',@level2name=N'StatusTip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'字符的描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemStatusInfo', @level2type=N'COLUMN',@level2name=N'StatusDescription'
GO
/****** Object:  Table [dbo].[SystemMachineGrantCount]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemMachineGrantCount](
	[DateID] [int] NOT NULL,
	[RegisterMachine] [nvarchar](32) NOT NULL,
	[RegisterIP] [nchar](15) NOT NULL,
	[GrantScore] [bigint] NOT NULL,
	[GrantCount] [bigint] NOT NULL,
	[CollectDate] [datetime] NOT NULL,
 CONSTRAINT [PK_SystemMachineGrantCount_1] PRIMARY KEY CLUSTERED 
(
	[DateID] ASC,
	[RegisterMachine] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册机器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemMachineGrantCount', @level2type=N'COLUMN',@level2name=N'RegisterMachine'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemMachineGrantCount', @level2type=N'COLUMN',@level2name=N'RegisterIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'赠送金币' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemMachineGrantCount', @level2type=N'COLUMN',@level2name=N'GrantScore'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'赠送次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemMachineGrantCount', @level2type=N'COLUMN',@level2name=N'GrantCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'收集时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemMachineGrantCount', @level2type=N'COLUMN',@level2name=N'CollectDate'
GO
/****** Object:  Table [dbo].[SystemGrantCount]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemGrantCount](
	[DateID] [int] NOT NULL,
	[RegisterIP] [nchar](15) NOT NULL,
	[RegisterMachine] [nvarchar](32) NOT NULL,
	[GrantScore] [bigint] NOT NULL,
	[GrantCount] [bigint] NOT NULL,
	[CollectDate] [datetime] NOT NULL,
 CONSTRAINT [PK_SystemGrantCount] PRIMARY KEY CLUSTERED 
(
	[DateID] ASC,
	[RegisterIP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemGrantCount', @level2type=N'COLUMN',@level2name=N'RegisterIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册机器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemGrantCount', @level2type=N'COLUMN',@level2name=N'RegisterMachine'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'赠送金币' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemGrantCount', @level2type=N'COLUMN',@level2name=N'GrantScore'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'赠送次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemGrantCount', @level2type=N'COLUMN',@level2name=N'GrantCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'收集时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SystemGrantCount', @level2type=N'COLUMN',@level2name=N'CollectDate'
GO
/****** Object:  Table [dbo].[ReserveIdentifier]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReserveIdentifier](
	[GameID] [int] NOT NULL,
	[IDLevel] [int] NOT NULL,
	[Distribute] [bit] NOT NULL,
 CONSTRAINT [PK_ReserveIdentifier_GameID] PRIMARY KEY CLUSTERED 
(
	[GameID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'游戏标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ReserveIdentifier', @level2type=N'COLUMN',@level2name=N'GameID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ReserveIdentifier', @level2type=N'COLUMN',@level2name=N'IDLevel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分配标志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ReserveIdentifier', @level2type=N'COLUMN',@level2name=N'Distribute'
GO
/****** Object:  Table [dbo].[RecordPhoneCode]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordPhoneCode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PhoneCode] [nvarchar](32) NOT NULL,
	[AssociateMobilePhone] [nvarchar](16) NOT NULL,
	[GenerateDate] [datetime] NOT NULL,
	[HasUsed] [tinyint] NOT NULL,
	[UseDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RecordPhoneCode] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecordPhoneCode', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机验证码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecordPhoneCode', @level2type=N'COLUMN',@level2name=N'PhoneCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产生验证码对应的手机号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecordPhoneCode', @level2type=N'COLUMN',@level2name=N'AssociateMobilePhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'生成日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecordPhoneCode', @level2type=N'COLUMN',@level2name=N'GenerateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否用过了' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecordPhoneCode', @level2type=N'COLUMN',@level2name=N'HasUsed'
GO
/****** Object:  Table [dbo].[RecordEmailCode]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecordEmailCode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[EmailCode] [nvarchar](32) NOT NULL,
	[AssociateMobileEmail] [nvarchar](64) NOT NULL,
	[GenerateDate] [datetime] NOT NULL,
	[HasUsed] [tinyint] NOT NULL,
	[UseDate] [datetime] NOT NULL,
 CONSTRAINT [PK_RecordEmailCode] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecordEmailCode', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机验证码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecordEmailCode', @level2type=N'COLUMN',@level2name=N'EmailCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产生验证码对应的手机号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecordEmailCode', @level2type=N'COLUMN',@level2name=N'AssociateMobileEmail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'生成日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecordEmailCode', @level2type=N'COLUMN',@level2name=N'GenerateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否用过了' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RecordEmailCode', @level2type=N'COLUMN',@level2name=N'HasUsed'
GO
/****** Object:  Table [dbo].[IndividualDatum]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndividualDatum](
	[UserID] [int] NOT NULL,
	[QQ] [nvarchar](16) NOT NULL,
	[EMail] [nvarchar](32) NOT NULL,
	[SeatPhone] [nvarchar](32) NOT NULL,
	[MobilePhone] [nvarchar](16) NOT NULL,
	[BindingMobile] [int] NULL,
	[BindingType] [int] NOT NULL,
	[DwellingPlace] [nvarchar](128) NOT NULL,
	[PostalCode] [nvarchar](8) NOT NULL,
	[CollectDate] [datetime] NOT NULL,
	[UserNote] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_IndividualDatum_UserID] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IndividualDatum', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'QQ 号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IndividualDatum', @level2type=N'COLUMN',@level2name=N'QQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电子邮件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IndividualDatum', @level2type=N'COLUMN',@level2name=N'EMail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'固定电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IndividualDatum', @level2type=N'COLUMN',@level2name=N'SeatPhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'手机号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IndividualDatum', @level2type=N'COLUMN',@level2name=N'MobilePhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'详细住址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IndividualDatum', @level2type=N'COLUMN',@level2name=N'DwellingPlace'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'邮政编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IndividualDatum', @level2type=N'COLUMN',@level2name=N'PostalCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'收集日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IndividualDatum', @level2type=N'COLUMN',@level2name=N'CollectDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'IndividualDatum', @level2type=N'COLUMN',@level2name=N'UserNote'
GO
/****** Object:  Table [dbo].[GameIdentifier]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameIdentifier](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[GameID] [int] NOT NULL,
	[IDLevel] [int] NOT NULL,
 CONSTRAINT [PK_GameIdentifier_UserID] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GameIdentifier', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'游戏标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GameIdentifier', @level2type=N'COLUMN',@level2name=N'GameID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标识等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GameIdentifier', @level2type=N'COLUMN',@level2name=N'IDLevel'
GO
/****** Object:  Table [dbo].[ConfineMachine]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfineMachine](
	[MachineSerial] [nvarchar](32) NOT NULL,
	[EnjoinLogon] [bit] NOT NULL,
	[EnjoinRegister] [bit] NOT NULL,
	[EnjoinOverDate] [datetime] NULL,
	[CollectDate] [datetime] NOT NULL,
	[CollectNote] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_ConfineMachine_MachineSerial] PRIMARY KEY CLUSTERED 
(
	[MachineSerial] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'机器序列' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineMachine', @level2type=N'COLUMN',@level2name=N'MachineSerial'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'限制登录' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineMachine', @level2type=N'COLUMN',@level2name=N'EnjoinLogon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'限制注册' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineMachine', @level2type=N'COLUMN',@level2name=N'EnjoinRegister'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'过期时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineMachine', @level2type=N'COLUMN',@level2name=N'EnjoinOverDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'收集日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineMachine', @level2type=N'COLUMN',@level2name=N'CollectDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'输入备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineMachine', @level2type=N'COLUMN',@level2name=N'CollectNote'
GO
/****** Object:  Table [dbo].[ConfineContent]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfineContent](
	[ContentID] [int] IDENTITY(1,1) NOT NULL,
	[String] [nvarchar](31) NOT NULL,
	[EnjoinOverDate] [datetime] NULL,
	[CollectDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ConfineContent] PRIMARY KEY CLUSTERED 
(
	[ContentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'保留字符' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineContent', @level2type=N'COLUMN',@level2name=N'String'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'有效时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineContent', @level2type=N'COLUMN',@level2name=N'EnjoinOverDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'录入日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineContent', @level2type=N'COLUMN',@level2name=N'CollectDate'
GO
/****** Object:  Table [dbo].[ConfineAddress]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfineAddress](
	[AddrString] [nvarchar](15) NOT NULL,
	[EnjoinLogon] [bit] NOT NULL,
	[EnjoinRegister] [bit] NOT NULL,
	[EnjoinOverDate] [datetime] NULL,
	[CollectDate] [datetime] NOT NULL,
	[CollectNote] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_ConfineAddress_AddrString] PRIMARY KEY CLUSTERED 
(
	[AddrString] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址字符' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineAddress', @level2type=N'COLUMN',@level2name=N'AddrString'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'限制登录' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineAddress', @level2type=N'COLUMN',@level2name=N'EnjoinLogon'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'限制注册' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineAddress', @level2type=N'COLUMN',@level2name=N'EnjoinRegister'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'过期时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineAddress', @level2type=N'COLUMN',@level2name=N'EnjoinOverDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'收集日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineAddress', @level2type=N'COLUMN',@level2name=N'CollectDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'输入备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ConfineAddress', @level2type=N'COLUMN',@level2name=N'CollectNote'
GO
/****** Object:  Table [dbo].[AndroidLockInfo]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AndroidLockInfo](
	[UserID] [int] NOT NULL,
	[AndroidStatus] [tinyint] NOT NULL,
	[ServerID] [int] NOT NULL,
	[BatchID] [int] NOT NULL,
	[LockDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_AndroidLockInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'机器标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidLockInfo', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'房间标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidLockInfo', @level2type=N'COLUMN',@level2name=N'ServerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'批次标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidLockInfo', @level2type=N'COLUMN',@level2name=N'BatchID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'插入日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidLockInfo', @level2type=N'COLUMN',@level2name=N'LockDateTime'
GO
/****** Object:  Table [dbo].[AndroidConfigure]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AndroidConfigure](
	[BatchID] [int] IDENTITY(1,1) NOT NULL,
	[ServerID] [int] NOT NULL,
	[ServiceMode] [int] NOT NULL,
	[AndroidCount] [int] NOT NULL,
	[EnterTime] [int] NOT NULL,
	[LeaveTime] [int] NOT NULL,
	[EnterMinInterval] [int] NOT NULL,
	[EnterMaxInterval] [int] NOT NULL,
	[LeaveMinInterval] [int] NOT NULL,
	[LeaveMaxInterval] [int] NOT NULL,
	[TakeMinScore] [bigint] NOT NULL,
	[TakeMaxScore] [bigint] NOT NULL,
	[SwitchMinInnings] [int] NOT NULL,
	[SwitchMaxInnings] [int] NOT NULL,
 CONSTRAINT [PK_AndroidConfigure_1] PRIMARY KEY CLUSTERED 
(
	[BatchID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'批次标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'BatchID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'房间标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'ServerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'服务模式' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'ServiceMode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'进入时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'EnterTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'离开时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'LeaveTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'进入最小间隔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'EnterMinInterval'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'进入最大间隔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'EnterMaxInterval'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'离开最小间隔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'LeaveMinInterval'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'离开最大间隔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'LeaveMaxInterval'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最少携带分数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'TakeMinScore'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最大携带分数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'TakeMaxScore'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最少换桌局数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'SwitchMinInnings'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最大换桌局数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AndroidConfigure', @level2type=N'COLUMN',@level2name=N'SwitchMaxInnings'
GO
/****** Object:  Table [dbo].[AccountsTask]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsTask](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TaskID] [int] NOT NULL,
	[KindID] [int] NOT NULL,
	[TaskType] [int] NOT NULL,
	[TaskObject] [int] NOT NULL,
	[Progress] [int] NOT NULL,
	[TimeLimit] [int] NOT NULL,
	[TaskStatus] [tinyint] NOT NULL,
	[InputDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AccountsTask_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsTask', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsTask', @level2type=N'COLUMN',@level2name=N'TaskID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务进度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsTask', @level2type=N'COLUMN',@level2name=N'Progress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'任务状态 (0 为未完成  1为成功   2为失败  3未已领奖)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsTask', @level2type=N'COLUMN',@level2name=N'TaskStatus'
GO
/****** Object:  Table [dbo].[AccountsSignin]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsSignin](
	[UserID] [int] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[LastDateTime] [datetime] NOT NULL,
	[SeriesDate] [smallint] NOT NULL,
 CONSTRAINT [PK_AccountsCheckIn] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'连续签到天数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsSignin', @level2type=N'COLUMN',@level2name=N'SeriesDate'
GO
/****** Object:  Table [dbo].[AccountsProtect]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsProtect](
	[ProtectID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Question1] [nvarchar](32) NOT NULL,
	[Response1] [nvarchar](32) NOT NULL,
	[Question2] [nvarchar](32) NOT NULL,
	[Response2] [nvarchar](32) NOT NULL,
	[Question3] [nvarchar](32) NOT NULL,
	[Response3] [nvarchar](32) NOT NULL,
	[PassportID] [nvarchar](32) NOT NULL,
	[PassportType] [tinyint] NOT NULL,
	[SafeEmail] [nvarchar](32) NOT NULL,
	[CreateIP] [nvarchar](15) NOT NULL,
	[ModifyIP] [nvarchar](15) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_AccountsProtect] PRIMARY KEY CLUSTERED 
(
	[ProtectID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密保标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'ProtectID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'问题一' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'Question1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'答案一' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'Response1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'问题二' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'Question2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'答案二' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'Response2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'问题三' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'Question3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'答案三' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'Response3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'证件号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'PassportID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'证件类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'PassportType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'安全邮箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'SafeEmail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'CreateIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'ModifyIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProtect', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
/****** Object:  Table [dbo].[AccountsProperty]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsProperty](
	[UserID] [int] NOT NULL,
	[PropID] [int] NOT NULL,
	[ServerID] [int] NOT NULL,
	[PropCount] [int] NOT NULL,
	[KindID] [int] NOT NULL,
	[SendTime] [datetime] NOT NULL,
 CONSTRAINT [PK_AccountsProperty] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[PropID] ASC,
	[ServerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProperty', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'道具标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProperty', @level2type=N'COLUMN',@level2name=N'PropID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'房间标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProperty', @level2type=N'COLUMN',@level2name=N'ServerID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'道具数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProperty', @level2type=N'COLUMN',@level2name=N'PropCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'游戏标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProperty', @level2type=N'COLUMN',@level2name=N'KindID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'购买时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsProperty', @level2type=N'COLUMN',@level2name=N'SendTime'
GO
/****** Object:  Table [dbo].[AccountsMember]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsMember](
	[UserID] [int] NOT NULL,
	[MemberOrder] [tinyint] NOT NULL,
	[UserRight] [int] NOT NULL,
	[MemberOverDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MemberInfo] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[MemberOrder] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsMember', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'会员标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsMember', @level2type=N'COLUMN',@level2name=N'MemberOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsMember', @level2type=N'COLUMN',@level2name=N'UserRight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'会员期限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsMember', @level2type=N'COLUMN',@level2name=N'MemberOverDate'
GO
/****** Object:  Table [dbo].[AccountsInfo]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsInfo](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[GameID] [int] NOT NULL,
	[ProtectID] [int] NOT NULL,
	[PasswordID] [int] NOT NULL,
	[SpreaderID] [int] NOT NULL,
	[Accounts] [nvarchar](31) NOT NULL,
	[NickName] [nvarchar](31) NOT NULL,
	[RegAccounts] [nvarchar](31) NOT NULL,
	[UnderWrite] [nvarchar](250) NOT NULL,
	[PassPortID] [nvarchar](18) NOT NULL,
	[Compellation] [nvarchar](16) NOT NULL,
	[LogonPass] [nchar](32) NOT NULL,
	[InsurePass] [nchar](32) NOT NULL,
	[DynamicPass] [nchar](32) NOT NULL,
	[DynamicPassTime] [datetime] NOT NULL,
	[FaceID] [smallint] NOT NULL,
	[CustomID] [int] NOT NULL,
	[Present] [int] NOT NULL,
	[UserMedal] [bigint] NOT NULL,
	[Experience] [int] NOT NULL,
	[ExperienceScore] [int] NOT NULL,
	[GrowLevelID] [int] NOT NULL,
	[LoveLiness] [int] NOT NULL,
	[UserRight] [int] NOT NULL,
	[MasterRight] [int] NOT NULL,
	[ServiceRight] [int] NOT NULL,
	[MasterOrder] [tinyint] NOT NULL,
	[MemberOrder] [tinyint] NOT NULL,
	[MemberOverDate] [datetime] NOT NULL,
	[MemberSwitchDate] [datetime] NOT NULL,
	[CustomFaceVer] [tinyint] NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[Nullity] [tinyint] NOT NULL,
	[NullityReson] [nvarchar](500) NOT NULL,
	[NullityOverDate] [datetime] NOT NULL,
	[StunDown] [tinyint] NOT NULL,
	[MoorMachine] [tinyint] NOT NULL,
	[IsAndroid] [tinyint] NOT NULL,
	[WebLogonTimes] [int] NOT NULL,
	[GameLogonTimes] [int] NOT NULL,
	[PlayTimeCount] [int] NOT NULL,
	[OnLineTimeCount] [int] NOT NULL,
	[LastLogonIP] [nvarchar](15) NOT NULL,
	[LastLogonDate] [datetime] NOT NULL,
	[LastLogonMobile] [nvarchar](11) NOT NULL,
	[LastLogonMachine] [nvarchar](32) NOT NULL,
	[RegisterIP] [nvarchar](15) NOT NULL,
	[RegisterDate] [datetime] NOT NULL,
	[RegisterMobile] [nvarchar](11) NOT NULL,
	[RegisterMachine] [nvarchar](32) NOT NULL,
	[UserUin] [bigint] NOT NULL,
	[RankID] [int] NULL,
	[LogonType] [int] NOT NULL,
 CONSTRAINT [PK_AccountsInfo_UserID] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'游戏标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'GameID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密保标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'ProtectID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'口令索引' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'PasswordID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'推广员标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'SpreaderID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户帐号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'Accounts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户昵称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'NickName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册帐号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'RegAccounts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'个性签名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'UnderWrite'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'身份证号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'PassPortID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'真实名字' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'Compellation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'LogonPass'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'安全密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'InsurePass'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'动态密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'DynamicPass'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'动态密码更新时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'DynamicPassTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头像标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'FaceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'自定标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'CustomID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'赠送礼物' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'Present'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户奖牌' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'UserMedal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'经验数值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'Experience'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'等级享受分数 带领取' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'ExperienceScore'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户魅力' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'LoveLiness'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'UserRight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'管理权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'MasterRight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'服务权限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'ServiceRight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'管理等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'MasterOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'会员等级' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'MemberOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'过期日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'MemberOverDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'切换时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'MemberSwitchDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'头像版本' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'CustomFaceVer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户性别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'Gender'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'禁止服务' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'Nullity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'冻结原因' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'NullityReson'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'禁止时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'NullityOverDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'关闭标志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'StunDown'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'固定机器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'MoorMachine'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否机器人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'IsAndroid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'WebLogonTimes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'GameLogonTimes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'游戏时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'PlayTimeCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'在线时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'OnLineTimeCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'LastLogonIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'LastLogonDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录手机' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'LastLogonMobile'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录机器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'LastLogonMachine'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'RegisterIP'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'RegisterDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册手机' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'RegisterMobile'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'注册机器' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'RegisterMachine'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登陆类型  0 PC 1 手机' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsInfo', @level2type=N'COLUMN',@level2name=N'LogonType'
GO
/****** Object:  Table [dbo].[AccountsFace]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsFace](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CustomFace] [image] NOT NULL,
	[InsertTime] [datetime] NOT NULL,
	[InsertAddr] [nvarchar](15) NOT NULL,
	[InsertMachine] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_AccountsFace_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsFace', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'登录地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsFace', @level2type=N'COLUMN',@level2name=N'InsertAddr'
GO
/****** Object:  Table [dbo].[AccountsBaseEnsureMB]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsBaseEnsureMB](
	[UserID] [int] NOT NULL,
	[TakeDateID] [int] NOT NULL,
	[TakeTimes] [smallint] NOT NULL,
 CONSTRAINT [PK_AccountsBaseEnsureMB_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[TakeDateID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsBaseEnsureMB', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'领取日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsBaseEnsureMB', @level2type=N'COLUMN',@level2name=N'TakeDateID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'领取次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsBaseEnsureMB', @level2type=N'COLUMN',@level2name=N'TakeTimes'
GO
/****** Object:  Table [dbo].[AccountsBaseEnsure]    Script Date: 10/28/2015 12:59:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountsBaseEnsure](
	[UserID] [int] NOT NULL,
	[TakeDateID] [int] NOT NULL,
	[TakeTimes] [smallint] NOT NULL,
 CONSTRAINT [PK_AccountsBaseEnsure_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[TakeDateID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsBaseEnsure', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'领取日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsBaseEnsure', @level2type=N'COLUMN',@level2name=N'TakeDateID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'领取次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AccountsBaseEnsure', @level2type=N'COLUMN',@level2name=N'TakeTimes'
GO
/****** Object:  Default [DF_AccountsFace_CustomTime]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsFace] ADD  CONSTRAINT [DF_AccountsFace_CustomTime]  DEFAULT (getdate()) FOR [InsertTime]
GO
/****** Object:  Default [DF_AccountsInfo_GameID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_GameID]  DEFAULT ((0)) FOR [GameID]
GO
/****** Object:  Default [DF_UserAccounts_ProtectID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_UserAccounts_ProtectID]  DEFAULT ((0)) FOR [ProtectID]
GO
/****** Object:  Default [DF_AccountsInfo_PasswordID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_PasswordID]  DEFAULT ((0)) FOR [PasswordID]
GO
/****** Object:  Default [DF_AccountsInfo_SpreaderID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_SpreaderID]  DEFAULT ((0)) FOR [SpreaderID]
GO
/****** Object:  Default [DF_AccountsInfo_Nickname]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_Nickname]  DEFAULT ('') FOR [NickName]
GO
/****** Object:  Default [DF_UserAccounts_UnderWrite]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_UserAccounts_UnderWrite]  DEFAULT ('') FOR [UnderWrite]
GO
/****** Object:  Default [DF_AccountsInfo_PassPortID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_PassPortID]  DEFAULT (N'') FOR [PassPortID]
GO
/****** Object:  Default [DF_AccountsInfo_Compellation]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_Compellation]  DEFAULT (N'') FOR [Compellation]
GO
/****** Object:  Default [DF_AccountsInfo_InsurePass]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_InsurePass]  DEFAULT (N'') FOR [InsurePass]
GO
/****** Object:  Default [DF_AccountsInfo_DynamicPass]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_DynamicPass]  DEFAULT ('') FOR [DynamicPass]
GO
/****** Object:  Default [DF_AccountsInfo_DynamicPassTime]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_DynamicPassTime]  DEFAULT (getdate()) FOR [DynamicPassTime]
GO
/****** Object:  Default [DF_UserAccounts_FaceID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_UserAccounts_FaceID]  DEFAULT ((0)) FOR [FaceID]
GO
/****** Object:  Default [DF_AccountsInfo_CustomFaceID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_CustomFaceID]  DEFAULT ((0)) FOR [CustomID]
GO
/****** Object:  Default [DF_AccountsInfo_Present]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_Present]  DEFAULT ((0)) FOR [Present]
GO
/****** Object:  Default [DF_AccountsInfo_LoveLiness1]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_LoveLiness1]  DEFAULT ((0)) FOR [UserMedal]
GO
/****** Object:  Default [DF_UserAccounts_Experience]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_UserAccounts_Experience]  DEFAULT ((0)) FOR [Experience]
GO
/****** Object:  Default [DF_AccountsInfo_ExperienceScore]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_ExperienceScore]  DEFAULT ((0)) FOR [ExperienceScore]
GO
/****** Object:  Default [DF_AccountsInfo_GrowLevelID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_GrowLevelID]  DEFAULT ((1)) FOR [GrowLevelID]
GO
/****** Object:  Default [DF_AccountsInfo_LoveLiness]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_LoveLiness]  DEFAULT ((0)) FOR [LoveLiness]
GO
/****** Object:  Default [DF_AccountsInfo_UserRight]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_UserRight]  DEFAULT ((0)) FOR [UserRight]
GO
/****** Object:  Default [DF_AccountsInfo_MasterRight]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_MasterRight]  DEFAULT ((0)) FOR [MasterRight]
GO
/****** Object:  Default [DF_AccountsInfo_ServiceRight]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_ServiceRight]  DEFAULT ((0)) FOR [ServiceRight]
GO
/****** Object:  Default [DF_AccountsInfo_MasterOrder]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_MasterOrder]  DEFAULT ((0)) FOR [MasterOrder]
GO
/****** Object:  Default [DF_UserAccounts_MemberOrder]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_UserAccounts_MemberOrder]  DEFAULT ((0)) FOR [MemberOrder]
GO
/****** Object:  Default [DF_UserAccounts_MemberOverDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_UserAccounts_MemberOverDate]  DEFAULT (((1980)-(1))-(1)) FOR [MemberOverDate]
GO
/****** Object:  Default [DF_AccountsInfo_MemberSwitchDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_MemberSwitchDate]  DEFAULT (((1980)-(1))-(1)) FOR [MemberSwitchDate]
GO
/****** Object:  Default [DF_AccountsInfo_CustomFaceVer]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_CustomFaceVer]  DEFAULT ((0)) FOR [CustomFaceVer]
GO
/****** Object:  Default [DF_AccountsInfo_Gender]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_Gender]  DEFAULT ((0)) FOR [Gender]
GO
/****** Object:  Default [DF_UserAccounts_ServiceNullity]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_UserAccounts_ServiceNullity]  DEFAULT ((0)) FOR [Nullity]
GO
/****** Object:  Default [DF_AccountsInfo_NullityReson]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_NullityReason]  DEFAULT ('') FOR [NullityReson]
GO
/****** Object:  Default [DF_AccountsInfo_NullityOverDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_NullityOverDate]  DEFAULT ('1900-01-01') FOR [NullityOverDate]
GO
/****** Object:  Default [DF_AccountsInfo_CloseDown]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_CloseDown]  DEFAULT ((0)) FOR [StunDown]
GO
/****** Object:  Default [DF_AccountsInfo_MoorMachine]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_MoorMachine]  DEFAULT ((0)) FOR [MoorMachine]
GO
/****** Object:  Default [DF_AccountsInfo_IsAndroid]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_IsAndroid]  DEFAULT ((0)) FOR [IsAndroid]
GO
/****** Object:  Default [DF_AccountsInfo_WebLogonTimes]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_WebLogonTimes]  DEFAULT ((0)) FOR [WebLogonTimes]
GO
/****** Object:  Default [DF_UserAccounts_AllLogonTimes]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_UserAccounts_AllLogonTimes]  DEFAULT ((0)) FOR [GameLogonTimes]
GO
/****** Object:  Default [DF_AccountsInfo_PlayTimeCount]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_PlayTimeCount]  DEFAULT ((0)) FOR [PlayTimeCount]
GO
/****** Object:  Default [DF_AccountsInfo_OnLineTimeCount]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_OnLineTimeCount]  DEFAULT ((0)) FOR [OnLineTimeCount]
GO
/****** Object:  Default [DF_UserAccounts_LastLogonDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_UserAccounts_LastLogonDate]  DEFAULT (getdate()) FOR [LastLogonDate]
GO
/****** Object:  Default [DF_AccountsInfo_RegisterMobile1]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_RegisterMobile1]  DEFAULT (N'') FOR [LastLogonMobile]
GO
/****** Object:  Default [DF_AccountsInfo_MachineSerial]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_MachineSerial]  DEFAULT ('------------') FOR [LastLogonMachine]
GO
/****** Object:  Default [DF_UserAccounts_RegisterDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_UserAccounts_RegisterDate]  DEFAULT (getdate()) FOR [RegisterDate]
GO
/****** Object:  Default [DF_AccountsInfo_RegisterMobile]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_RegisterMobile]  DEFAULT (N'') FOR [RegisterMobile]
GO
/****** Object:  Default [DF_AccountsInfo_RegisterMachine]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_RegisterMachine]  DEFAULT (N'------------') FOR [RegisterMachine]
GO
/****** Object:  Default [DF_AccountsInfo_UserUin]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_UserUin]  DEFAULT ((0)) FOR [UserUin]
GO
/****** Object:  Default [DF_AccountsInfo_LogonType]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsInfo] ADD  CONSTRAINT [DF_AccountsInfo_LogonType]  DEFAULT ((0)) FOR [LogonType]
GO
/****** Object:  Default [DF_MemberInfo_UserRight]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsMember] ADD  CONSTRAINT [DF_MemberInfo_UserRight]  DEFAULT ((0)) FOR [UserRight]
GO
/****** Object:  Default [DF_MemberInfo_MemberOverDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsMember] ADD  CONSTRAINT [DF_MemberInfo_MemberOverDate]  DEFAULT (getdate()) FOR [MemberOverDate]
GO
/****** Object:  Default [DF_AccountsProperty_SendTime]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsProperty] ADD  CONSTRAINT [DF_AccountsProperty_SendTime]  DEFAULT (getdate()) FOR [SendTime]
GO
/****** Object:  Default [DF_AccountsProtect_CreateDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsProtect] ADD  CONSTRAINT [DF_AccountsProtect_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_AccountsProtect_ModifyDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsProtect] ADD  CONSTRAINT [DF_AccountsProtect_ModifyDate]  DEFAULT (getdate()) FOR [ModifyDate]
GO
/****** Object:  Default [DF_AccountsTask_TaskID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsTask] ADD  CONSTRAINT [DF_AccountsTask_TaskID]  DEFAULT ((0)) FOR [TaskID]
GO
/****** Object:  Default [DF_AccountsTask_KingID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsTask] ADD  CONSTRAINT [DF_AccountsTask_KingID]  DEFAULT ((0)) FOR [KindID]
GO
/****** Object:  Default [DF_AccountsTask_TaskType]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsTask] ADD  CONSTRAINT [DF_AccountsTask_TaskType]  DEFAULT ((0)) FOR [TaskType]
GO
/****** Object:  Default [DF_AccountsTask_TaskObject]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsTask] ADD  CONSTRAINT [DF_AccountsTask_TaskObject]  DEFAULT ((0)) FOR [TaskObject]
GO
/****** Object:  Default [DF_AccountsTask_Progress]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsTask] ADD  CONSTRAINT [DF_AccountsTask_Progress]  DEFAULT ((0)) FOR [Progress]
GO
/****** Object:  Default [DF_AccountsTask_TimeLimit]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsTask] ADD  CONSTRAINT [DF_AccountsTask_TimeLimit]  DEFAULT ((0)) FOR [TimeLimit]
GO
/****** Object:  Default [DF_AccountsTask_TaskStatus_1]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsTask] ADD  CONSTRAINT [DF_AccountsTask_TaskStatus_1]  DEFAULT ((0)) FOR [TaskStatus]
GO
/****** Object:  Default [DF_AccountsTask_InputDate_1]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AccountsTask] ADD  CONSTRAINT [DF_AccountsTask_InputDate_1]  DEFAULT (getdate()) FOR [InputDate]
GO
/****** Object:  Default [DF_AndroidLockInfo_AndroidStatus]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AndroidLockInfo] ADD  CONSTRAINT [DF_AndroidLockInfo_AndroidStatus]  DEFAULT ((0)) FOR [AndroidStatus]
GO
/****** Object:  Default [DF_AndroidLockInfo_ServerID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AndroidLockInfo] ADD  CONSTRAINT [DF_AndroidLockInfo_ServerID]  DEFAULT ((0)) FOR [ServerID]
GO
/****** Object:  Default [DF_AndroidLockInfo_BatchID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AndroidLockInfo] ADD  CONSTRAINT [DF_AndroidLockInfo_BatchID]  DEFAULT ((0)) FOR [BatchID]
GO
/****** Object:  Default [DF_AndroidLockInfo_LockDataTime]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[AndroidLockInfo] ADD  CONSTRAINT [DF_AndroidLockInfo_LockDataTime]  DEFAULT (getdate()) FOR [LockDateTime]
GO
/****** Object:  Default [DF_AddrConfineRule_EnjoinLogon]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[ConfineAddress] ADD  CONSTRAINT [DF_AddrConfineRule_EnjoinLogon]  DEFAULT ((0)) FOR [EnjoinLogon]
GO
/****** Object:  Default [DF_AddrConfineRule_EnjoinRegister]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[ConfineAddress] ADD  CONSTRAINT [DF_AddrConfineRule_EnjoinRegister]  DEFAULT ((0)) FOR [EnjoinRegister]
GO
/****** Object:  Default [DF_AddrConfineRule_CollectDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[ConfineAddress] ADD  CONSTRAINT [DF_AddrConfineRule_CollectDate]  DEFAULT (getdate()) FOR [CollectDate]
GO
/****** Object:  Default [DF_AddrConfineRule_CollectNote]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[ConfineAddress] ADD  CONSTRAINT [DF_AddrConfineRule_CollectNote]  DEFAULT ('') FOR [CollectNote]
GO
/****** Object:  Default [DF_ReserveCharacter_ModifyDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[ConfineContent] ADD  CONSTRAINT [DF_ReserveCharacter_ModifyDate]  DEFAULT (getdate()) FOR [CollectDate]
GO
/****** Object:  Default [DF_MachineConfineRule_EnjoinLogon]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[ConfineMachine] ADD  CONSTRAINT [DF_MachineConfineRule_EnjoinLogon]  DEFAULT ((0)) FOR [EnjoinLogon]
GO
/****** Object:  Default [DF_MachineConfineRule_EnjoinRegister]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[ConfineMachine] ADD  CONSTRAINT [DF_MachineConfineRule_EnjoinRegister]  DEFAULT ((0)) FOR [EnjoinRegister]
GO
/****** Object:  Default [DF_MachineConfineRule_CollectDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[ConfineMachine] ADD  CONSTRAINT [DF_MachineConfineRule_CollectDate]  DEFAULT (getdate()) FOR [CollectDate]
GO
/****** Object:  Default [DF_MachineConfineRule_CollectNote]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[ConfineMachine] ADD  CONSTRAINT [DF_MachineConfineRule_CollectNote]  DEFAULT ('') FOR [CollectNote]
GO
/****** Object:  Default [DF_GameIdentifiers_IDLevel]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[GameIdentifier] ADD  CONSTRAINT [DF_GameIdentifiers_IDLevel]  DEFAULT ((0)) FOR [IDLevel]
GO
/****** Object:  Default [DF_IndividualDatum_SeatPhone]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[IndividualDatum] ADD  CONSTRAINT [DF_IndividualDatum_SeatPhone]  DEFAULT ('') FOR [SeatPhone]
GO
/****** Object:  Default [DF_IndividualDatum_MobilePhone]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[IndividualDatum] ADD  CONSTRAINT [DF_IndividualDatum_MobilePhone]  DEFAULT ('') FOR [MobilePhone]
GO
/****** Object:  Default [DF_IndividualDatum_BindingMobile]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[IndividualDatum] ADD  CONSTRAINT [DF_IndividualDatum_BindingMobile]  DEFAULT ((0)) FOR [BindingMobile]
GO
/****** Object:  Default [DF_IndividualDatum_BindingType]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[IndividualDatum] ADD  CONSTRAINT [DF_IndividualDatum_BindingType]  DEFAULT ((0)) FOR [BindingType]
GO
/****** Object:  Default [DF_IndividualDatum_DwellingPlace]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[IndividualDatum] ADD  CONSTRAINT [DF_IndividualDatum_DwellingPlace]  DEFAULT ('') FOR [DwellingPlace]
GO
/****** Object:  Default [DF_IndividualDatum_PostalCode]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[IndividualDatum] ADD  CONSTRAINT [DF_IndividualDatum_PostalCode]  DEFAULT ('') FOR [PostalCode]
GO
/****** Object:  Default [DF_IndividualDatum_CollectDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[IndividualDatum] ADD  CONSTRAINT [DF_IndividualDatum_CollectDate]  DEFAULT (getdate()) FOR [CollectDate]
GO
/****** Object:  Default [DF_IndividualDatum_UserNote]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[IndividualDatum] ADD  CONSTRAINT [DF_IndividualDatum_UserNote]  DEFAULT ('') FOR [UserNote]
GO
/****** Object:  Default [DF_RecordEmailCode_GenerateDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[RecordEmailCode] ADD  CONSTRAINT [DF_RecordEmailCode_GenerateDate]  DEFAULT (getdate()) FOR [GenerateDate]
GO
/****** Object:  Default [DF_RecordEmailCode_HasUsed]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[RecordEmailCode] ADD  CONSTRAINT [DF_RecordEmailCode_HasUsed]  DEFAULT ((0)) FOR [HasUsed]
GO
/****** Object:  Default [DF_RecordEmailCoder_UseDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[RecordEmailCode] ADD  CONSTRAINT [DF_RecordEmailCoder_UseDate]  DEFAULT ('') FOR [UseDate]
GO
/****** Object:  Default [DF_RecordPhoneCode_GenerateDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[RecordPhoneCode] ADD  CONSTRAINT [DF_RecordPhoneCode_GenerateDate]  DEFAULT (getdate()) FOR [GenerateDate]
GO
/****** Object:  Default [DF_RecordPhoneCode_HasUsed]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[RecordPhoneCode] ADD  CONSTRAINT [DF_RecordPhoneCode_HasUsed]  DEFAULT ((0)) FOR [HasUsed]
GO
/****** Object:  Default [DF_RecordPhoneCode_UseDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[RecordPhoneCode] ADD  CONSTRAINT [DF_RecordPhoneCode_UseDate]  DEFAULT ('') FOR [UseDate]
GO
/****** Object:  Default [DF_Table1_IDLevel]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[ReserveIdentifier] ADD  CONSTRAINT [DF_Table1_IDLevel]  DEFAULT ((0)) FOR [IDLevel]
GO
/****** Object:  Default [DF_ReserveIdentifiers_Distribute]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[ReserveIdentifier] ADD  CONSTRAINT [DF_ReserveIdentifiers_Distribute]  DEFAULT ((0)) FOR [Distribute]
GO
/****** Object:  Default [DF_SystemGrantCount_RegisterMachine]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemGrantCount] ADD  CONSTRAINT [DF_SystemGrantCount_RegisterMachine]  DEFAULT (N'------------') FOR [RegisterMachine]
GO
/****** Object:  Default [DF_SystemGrantCount_PresentScoreStat]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemGrantCount] ADD  CONSTRAINT [DF_SystemGrantCount_PresentScoreStat]  DEFAULT ((0)) FOR [GrantCount]
GO
/****** Object:  Default [DF_SystemGrantCount_CollectDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemGrantCount] ADD  CONSTRAINT [DF_SystemGrantCount_CollectDate]  DEFAULT (getdate()) FOR [CollectDate]
GO
/****** Object:  Default [DF_SystemMachineGrantCount_RegisterMachine]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemMachineGrantCount] ADD  CONSTRAINT [DF_SystemMachineGrantCount_RegisterMachine]  DEFAULT (N'------------') FOR [RegisterMachine]
GO
/****** Object:  Default [DF_SystemMachineGrantCount_PresentScoreStat]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemMachineGrantCount] ADD  CONSTRAINT [DF_SystemMachineGrantCount_PresentScoreStat]  DEFAULT ((0)) FOR [GrantCount]
GO
/****** Object:  Default [DF_SystemMachineGrantCount_CollectDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemMachineGrantCount] ADD  CONSTRAINT [DF_SystemMachineGrantCount_CollectDate]  DEFAULT (getdate()) FOR [CollectDate]
GO
/****** Object:  Default [DF_SystemStatusInfo_StatusValue]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemStatusInfo] ADD  CONSTRAINT [DF_SystemStatusInfo_StatusValue]  DEFAULT ((0)) FOR [StatusValue]
GO
/****** Object:  Default [DF_SystemStatusInfo_StatusString]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemStatusInfo] ADD  CONSTRAINT [DF_SystemStatusInfo_StatusString]  DEFAULT ('') FOR [StatusString]
GO
/****** Object:  Default [DF_SystemStatusInfo_StatusTip]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemStatusInfo] ADD  CONSTRAINT [DF_SystemStatusInfo_StatusTip]  DEFAULT ('') FOR [StatusTip]
GO
/****** Object:  Default [DF_SystemStatusInfo_StatusDescription]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemStatusInfo] ADD  CONSTRAINT [DF_SystemStatusInfo_StatusDescription]  DEFAULT ('') FOR [StatusDescription]
GO
/****** Object:  Default [DF_SystemStatusInfo_SortID]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemStatusInfo] ADD  CONSTRAINT [DF_SystemStatusInfo_SortID]  DEFAULT ((0)) FOR [SortID]
GO
/****** Object:  Default [DF_SystemLogonInfo_WebLogonSuccess]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemStreamInfo] ADD  CONSTRAINT [DF_SystemLogonInfo_WebLogonSuccess]  DEFAULT ((0)) FOR [WebLogonSuccess]
GO
/****** Object:  Default [DF_SystemLogonInfo_WebRegisterSuccess]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemStreamInfo] ADD  CONSTRAINT [DF_SystemLogonInfo_WebRegisterSuccess]  DEFAULT ((0)) FOR [WebRegisterSuccess]
GO
/****** Object:  Default [DF_TABLE1_LogonCount]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemStreamInfo] ADD  CONSTRAINT [DF_TABLE1_LogonCount]  DEFAULT ((0)) FOR [GameLogonSuccess]
GO
/****** Object:  Default [DF_TABLE1_RegisterCount]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemStreamInfo] ADD  CONSTRAINT [DF_TABLE1_RegisterCount]  DEFAULT ((0)) FOR [GameRegisterSuccess]
GO
/****** Object:  Default [DF_TABLE1_RecordDate]    Script Date: 10/28/2015 12:59:40 ******/
ALTER TABLE [dbo].[SystemStreamInfo] ADD  CONSTRAINT [DF_TABLE1_RecordDate]  DEFAULT (getdate()) FOR [CollectDate]
GO
CREATE TABLE [dbo].[LoginErroe](
	[UserID] [int] NOT NULL,
	[ErrorTime] [int] NOT NULL,
	[LastErrorTime] [datetime] NOT NULL,
 CONSTRAINT [PK_LoginErroe] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[LoginErroe] ADD  CONSTRAINT [DF_LoginErroe_ErrorTime]  DEFAULT ((0)) FOR [ErrorTime]
GO

ALTER TABLE [dbo].[LoginErroe] ADD  CONSTRAINT [DF_LoginErroe_LastErrorTime]  DEFAULT (getdate()) FOR [LastErrorTime]
GO

