html{overflow:hidden}
body{width:766px;height:431px;margin:0;padding:0;font-size:16px;-ms-overflow-style:-ms-autohiding-scrollbar}
input,
select,
textarea,
button{outline:none;border:none;padding:0 4px}
body>textarea,
datalist,
.hide{display:none;visibility:hidden}
input[type=radio]{padding:0}
a,a:active,a:focus{outline:none;}a img{border:none}/*fix ie8*/

body>dl{width:100%;height:100%;position:relative;margin:0;background:url(../images/box.png) -11px -14px #170b03}
body>dl>dt{display:block;height:32px;position:absolute;top:0;margin:0 1px;}
body>dl>dt:first-child,
body>dl>dt:first-of-type{position:relative;margin-left:15px;}
body>dl>dt:nth-of-type(2){left:120px}
body>dl>dt:nth-of-type(3){left:225px}
body>dl>dt:nth-of-type(4){left:330px}
body>dl>dt:nth-of-type(5){left:435px}
body>dl>dt:nth-of-type(6){left:540px}
body>dl>dt:nth-of-type(7){left:645px}
body>dl>dt:hover{background-position:33.333333% 50%}
body>dl>dt:active,
body>dl>dt.active{background-position:66.666667% 50%;}
body>dl>dt:disabled{background-position:right 50%}
body>dl>dt>a{display:block;height:100%;}

body>dl>dd{display:none;height:472px;margin:0;background:url(../images/list.png) no-repeat 50% 100%}
body>dl>dt.active+dd{display:block}
body>dl>dd>h3{width:730px;line-height:45px;position:relative;margin:0 auto;padding:0 13px;font-size:16px;color:#f8e3a7}
body>dl>dd>h3 span{display:inline-block;text-align:center}
body>dl>dd>h3 img{vertical-align:middle}

body>div.msg{display:none;width:524px;height:251px;position:absolute;top:0;left:0;padding:170px 122px 87px 120px;z-index:+9;color:#fff;background:url(../images/msg.png) no-repeat 120px 170px rgba(125,125,125,.05)}
body>div.msg>div{display:block;width:464px;height:111px;margin:58px 21px 3px 23px;padding:8px;background:transparent}
body>div.msg>button{display:block;width:85px;height:28px;margin:15px auto 0;font:500 14px "Microsoft YaHei";color:#2d1b19;background:url(../images/btn.png) left no-repeat}
body>div.msg>button:hover{background-position:right}

body>dl>dd>form{display:block;margin-left:45px;line-height:52px;color:#debb8c}
body>dl>dd>form *{vertical-align:middle}
body>dl>dd>form input[type=date]{width:112px;height:27px;line-height:27px\9;position:relative;color:#debb8c;background:url(../images/date.png) 0 50% no-repeat}
body>dl>dd>form select{width:112px;height:27px;line-height:27px\9;position:relative;padding:5px 0;color:#debb8c;background:url(../images/date.png) 0 50% no-repeat}
body>dl>dd>form select option{color:#000}

body>dl>dd>form input[type=date]+button{display:none;width:30px;height:27px;margin-left:-30px;background:url(../images/datepicker.png)}
body>dl>dd>form button:last-of-type{width:65px;height:26px;background:url(../images/search.png) left 50%}
body>dl>dd>form button:hover{background-position:66.666667% 50%}
body>dl>dd>form button:active{background-position:33.333333% 50%}
body>dl>dd>form button:disabled{background-position:right 50%}

body>dl>dd>form+h3+ul{display:block;width:730px;height:360px;margin:auto 0;padding:0 13px;list-style:none;overflow-x:hidden;overflow-y:hidden}
body>dl>dd>form+h3+ul:hover{overflow-y:auto}
/*scrollbar-3dlight-color:transparent;
scrollbar-arrow-color:transparent;
scrollbar-base-color:rgba(0,0,0,.1);
scrollbar-darkshadow-color:rgba(255,255,255,.1);
scrollbar-face-color:transparent;
scrollbar-highlight-color:transparent;
scrollbar-shadow-color:transparent*/
body>dl>dd>form+h3+ul>li{line-height:30px;white-space:nowrap;color:#fff;background:url(../images/line.png) 16.5px bottom no-repeat}
body>dl>dd>form+h3+ul>li>span{display:inline-block;text-align:center;font-size:14px}
.btnc{margin:0 auto;height:40px;background: #ff0000;color:#ffffff;font-size:24px;}
.btncur{background:#ffffff;color:black}
.inl{display:inline-block;}