body>dl>dt.game{background-image:url(../images/user/game.png)}
body>dl>dt.paid{background-image:url(../images/user/paid.png)}
body>dl>dt.draw{background-image:url(../images/user/draw.png)}
body>dl>dt.lucky{background-image:url(../images/user/lucky.png)}

body>.info{display:none;position:absolute;top:0;left:0;width:100%;height:100%;background-color:black;z-index:1001;opacity:.70;filter:alpha(opacity=70)}
body>.content{display:none;position:absolute;bottom:0;left:22%;width:60%;background-color:#fff;z-index:1002;border:2px solid #000} 
body>.content ul{width:80%;max-width:1000px;margin:0 auto;background-color:#fff;z-index:1003;border:2px solid #733c5f;padding:30px}
body>.content li{list-style:none;display:table;margin:0 auto;width:100%;color:red}

dt.paid+dd .total{font-size:10.5pt}
dt.game+dd .info{position:absolute;top:0;right:12px;line-height:32px;font-size:10.5pt}

ul.game table{display:none;width:70%;margin:0 auto}
ul.game table td{text-align:center}

ul.game>li>span:first-child,
ul.game>li>span:first-of-type,
h3.game>span:first-of-type{width:180px}
ul.game>li>span:nth-of-type(2),
h3.game>span:nth-of-type(2){width:180px}
ul.game>li>span:nth-of-type(3),
h3.game>span:nth-of-type(3){width:170px}
ul.game>li>span:nth-of-type(4),
h3.game>span:nth-of-type(4){width:100px}
ul.game>li>span:nth-of-type(5),
h3.game>span:nth-of-type(5){width:100px}

ul.paid>li>span:first-child,
ul.paid>li>span:first-of-type,
h3.paid>span:first-of-type{width:180px}
ul.paid>li>span:nth-of-type(2),
h3.paid>span:nth-of-type(2){width:180px}
ul.paid>li>span:nth-of-type(3),
h3.paid>span:nth-of-type(3){width:125px}
ul.paid>li>span:nth-of-type(4),
h3.paid>span:nth-of-type(4){width:125px}
ul.paid>li>span:nth-of-type(5),
h3.paid>span:nth-of-type(5){width:120px}

ul.draw>li>span:first-child,
ul.draw>li>span:first-of-type,
h3.draw>span:first-of-type{width:160px}
ul.draw>li>span:nth-of-type(2),
h3.draw>span:nth-of-type(2){width:100px}
ul.draw>li>span:nth-of-type(3),
h3.draw>span:nth-of-type(3){width:80px}
ul.draw>li>span:nth-of-type(4),
h3.draw>span:nth-of-type(4){width:80px}
ul.draw>li>span:nth-of-type(5),
h3.draw>span:nth-of-type(5){width:120px}
ul.draw>li>span:nth-of-type(6),
h3.draw>span:nth-of-type(6){width:80px}
ul.draw>li>span:nth-of-type(7),
h3.draw>span:nth-of-type(7){width:110px}
ul.draw>li>span:nth-of-type(7){overflow:hidden;text-overflow:ellipsis}

ul.lucky>li>span:first-child,
ul.lucky>li>span:first-of-type,
h3.lucky>span:first-of-type{width:160px}
ul.lucky>li>span:nth-of-type(2),
h3.lucky>span:nth-of-type(2){width:110px}
h3.lucky>span:nth-of-type(2)>img{margin-top:2px}
ul.lucky>li>span:nth-of-type(3),
h3.lucky>span:nth-of-type(3){width:90px}
ul.lucky>li>span:nth-of-type(4),
h3.lucky>span:nth-of-type(4){width:80px}
ul.lucky>li>span:nth-of-type(5),
h3.lucky>span:nth-of-type(5){width:100px}
ul.lucky>li>span:nth-of-type(6),
h3.lucky>span:nth-of-type(6){width:100px}
ul.lucky>li>span:nth-of-type(7),
h3.lucky>span:nth-of-type(7){width:80px}
/*
ul.last>li>span:first-child,
ul.last>li>span:first-of-type,
h3.last>span:first-of-type{width:180px}
ul.last>li>span:nth-of-type(2),
h3.last>span:nth-of-type(2){width:180px}
ul.last>li>span:nth-of-type(3),
h3.last>span:nth-of-type(3){width:170px}
ul.last>li>span:nth-of-type(4),
h3.last>span:nth-of-type(4){width:100px}
ul.last>li>span:nth-of-type(5),
h3.last>span:nth-of-type(5){width:100px}
ul.last>li>span:nth-of-type(6),
h3.last>span:nth-of-type(6){width:100px}
ul.last>li>span:nth-of-type(7),
h3.last>span:nth-of-type(7){width:100px}
*/