<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="Service" value="" />
    <add key="Prefix" value="" />
    <add key="Agent" value="" />
    <add key="Platform" value="QPPlatformDB" />
    <add key="Accounts" value="QPAccountsDB" />
    <add key="Treasure" value="QPTreasureDB" />
    <add key="Record" value="QPRecordDB" />
    <add key="Agency" value="QPAgencyDB" />
    <add key="WebDB" value="QPGameWeb" />
    <add key="Other" value="QPOtherWebDB" />
    <add key="Match" value="QPGameMatchDB" />

    <!--诚卡接口-->
    <add key="ChenkaId" value="16969" />
    <add key="ChenkaSs" value="ae68ed2ed4a9a4fb8d017257c70b4ba6" />
    <add key="ChenkaCg" value="http://vipcard.chenkapay.com/PayCard.aspx" />
    <add key="ChenkaBg" value="http://vipbank.chenkapay.com/PayBank.aspx" />
    <!--诚卡接口-->
    <!--你销卡接口-->
    <add key="NXiaoKaId" value="1033" />
    <add key="NXiaoKaSs" value="f4f749a3adda31b5f4b3780cb9426fed" />
    <add key="NXiaoKaBg" value="https://gatway.400298.com/PayBank.aspx" />
    <add key="NXiaoKaRe" value="https://m.ifsy1111.com/Paid" />
    <!--你销卡接口-->
    <!--环迅接口-->
    <add key="IPSId" value="038012" />
    <add key="IPSSs" value="TtGZgKVFZVMfQotxLaYQwfdGQ5Fm1nud1FCJHkGVou0Gmj0ZQXfWLU1oE08b3jDnbhdAbZebJ2c2fMVg4gLU7NJXDO4GafS4fDf34qxrs3CHsz8tVRWNOkeDP6wCVO0c" />
    <add key="IPSBg" value="https://pay.ips.com.cn/ipayment.aspx" />
    <add key="IPSRe" value="http://pay.fengzhuodakj.com/PayIndex.aspx" />

    <add key="Mer_key" value="TtGZgKVFZVMfQotxLaYQwfdGQ5Fm1nud1FCJHkGVou0Gmj0ZQXfWLU1oE08b3jDnbhdAbZebJ2c2fMVg4gLU7NJXDO4GafS4fDf34qxrs3CHsz8tVRWNOkeDP6wCVO0c" />
    <!--环迅接口-->
    <!--摩宝接口-->
    <!--<add key="MobaoId" value="210000110008826"/>
    <add key="MobaoSs" value="b093314e4ce63c51621378ff07a7b25a"/>-->
    <add key="MobaoId" value="210001440010268" />
    <add key="MobaoSs" value="615ff86b5c33e4a9f754e2d581b90ef3" />
    <add key="MobaoBg" value="https://9pay.9payonline.com/cgi-bin/netpayment/pay_gate.cgi" />
    <add key="MobaoRe" value="http://pay.sgmtbl.cn/pay.php" />
    <!--摩宝接口-->
    <!--口袋接口-->
    <add key="DuqeeId" value="1001183" />
    <add key="DuqeeSs" value="1966e97dde244e949f382b75e164d386" />
    <add key="DuqeeCg" value="https://api.duqee.com/pay/card.aspx" />
    <add key="DuqeeBg" value="https://api.duqee.com/pay/bank.aspx" />
    <!--口袋接口-->
    <!--同乐接口-->
    <add key="TongLeId" value="1046"/>
    <add key="TongLeSs" value="d1b6a46455b762f9fbcf3e88e208f2e3"/>
    <add key="TongLeBg" value="http://recharge.tongle.net/gateway/Weixinpay/Weixinpay.aspx"/>
    <add key="TongLePg" value="http://recharge.tongle.net/gateway/Wappay/WapPay.aspx"/>
    <!--同乐接口-->
    <!--商银信接口-->
    <add key="AllScoreId" value="001016091301095" />
    <add key="AllScoreSs" value="7423bdb65fc04a5289d53e7c83253871" />
    <add key="AllScoreBg" value="https://paymenta.allscore.com/olgateway/scan/scanPay.htm" />
    <add key="AllScoreRe" value="http://pay.jinkuans.top/checkout" />
    <!--商银信接口-->
  </appSettings>
  <connectionStrings>
    <add name="db" connectionString="Data Source=.;Initial Catalog=QPGameWeb;User ID=sa;Password=Admin@1234;Pooling=true" providerName="System.Data.SqlClient" />
</connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <handlers>
            <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="PageHandlerFactory-Integrated-4.0" />
            <remove name="xoml-ISAPI-4.0_64bit" />
            <remove name="xoml-ISAPI-4.0_32bit" />
            <remove name="xoml-Integrated-4.0" />
            <remove name="xamlx-ISAPI-4.0_64bit" />
            <remove name="xamlx-ISAPI-4.0_32bit" />
            <remove name="xamlx-Integrated-4.0" />
            <remove name="WebServiceHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="WebServiceHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="WebServiceHandlerFactory-Integrated-4.0" />
            <remove name="WebAdminHandler-Integrated-4.0" />
            <remove name="TraceHandler-Integrated-4.0" />
            <remove name="svc-ISAPI-4.0_64bit" />
            <remove name="svc-ISAPI-4.0_32bit" />
            <remove name="svc-Integrated-4.0" />
            <remove name="SecurityCertificate" />
            <remove name="ScriptResourceIntegrated-4.0" />
            <remove name="ScriptHandlerFactoryAppServices-Integrated-4.0" />
            <remove name="rules-ISAPI-4.0_64bit" />
            <remove name="rules-ISAPI-4.0_32bit" />
            <remove name="rules-Integrated-4.0" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" />
            <remove name="HttpRemotingHandlerFactory-soap-Integrated-4.0" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" />
            <remove name="HttpRemotingHandlerFactory-rem-Integrated-4.0" />
            <remove name="AXD-ISAPI-4.0_64bit" />
            <remove name="AXD-ISAPI-4.0_32bit" />
            <remove name="AssemblyResourceLoader-Integrated-4.0" />
            <remove name="aspq-ISAPI-4.0_64bit" />
            <remove name="aspq-ISAPI-4.0_32bit" />
            <remove name="aspq-Integrated-4.0" />
            <remove name="cshtm-ISAPI-4.0_32bit" />
            <remove name="cshtm-Integrated-4.0" />
            <remove name="cshtm-ISAPI-4.0_64bit" />
            <remove name="cshtml-ISAPI-4.0_32bit" />
            <remove name="cshtml-Integrated-4.0" />
            <remove name="cshtml-ISAPI-4.0_64bit" />
            <remove name="SafedogIISAuditor64" />
            <remove name="SafedogIISAuditor32" />
            <remove name="ASPClassic" />
            <remove name="vbhtml-ISAPI-4.0_64bit" />
            <remove name="vbhtml-ISAPI-4.0_32bit" />
            <remove name="vbhtml-Integrated-4.0" />
            <remove name="vbhtm-ISAPI-4.0_64bit" />
            <remove name="vbhtm-ISAPI-4.0_32bit" />
            <remove name="vbhtm-Integrated-4.0" />

      <add path="/Paid" verb="*" name="Paid" type="Q.Paid" />
      <add path="/V" verb="*" name="Validate" type="Q.Validate" />
      <add path="/A" verb="*" name="Alipay" type="Q.Alipay" />
      <add path="/W" verb="*" name="WeChat" type="Q.WeChat" />
      <add path="/Q" verb="*" name="Tencent" type="Q.Tencent" />
      <add path="/U" verb="*" name="Utility" type="Q.Utility" />
    </handlers>
        <staticContent>
            <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>
  </system.webServer>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" enablePrefetchOptimization="true" optimizeCompilations="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <globalization fileEncoding="utf-8" />
    <customErrors mode="Off"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>
</configuration>